    <div class="container site-container-footer">
        <footer class="site-footer-style">
                    <p>&copy; @DateTime.Now.Year - Oakinstream.com</p>
                    <div class="btn">
                        <a href="https://www.youtube.com/" class="btn btn-default site-footer-btn"><span class="glyphicon glyphicon-globe"></span></a>
                        <a href="https://twitter.com/" class="btn btn-default site-footer-btn"><span class="glyphicon glyphicon-globe"></span></a>
                        <a href="https://www.facebook.com/" class="btn btn-default site-footer-btn"><span class="glyphicon glyphicon-globe"></span></a>
                        <a href="https://www.instagram.com/" class="btn btn-default site-footer-btn"><span class="glyphicon glyphicon-globe"></span></a>
                    </div>
        </footer>
    </div>