    <div class="container site-container-footer">
        <footer class="site-footer-style">
                    <p>&copy; @DateTime.Now.Year - Oakinstream.com</p>
                    <div class="btn">
                        <a href="https://www.youtube.com/" class="btn btn-default site-footer-btn"><img class="site-footer-image" src="~/Content/Glyphicon/justvector/youtube_alt.png" /></a>
                        <a href="https://twitter.com/" class="btn btn-default site-footer-btn"><img class="site-footer-image" src="~/Content/Glyphicon/justvector/twitter_alt.png" /></a>
                        <a href="https://www.facebook.com/" class="btn btn-default site-footer-btn"><img class="site-footer-image" src="~/Content/Glyphicon/justvector/facebook_alt.png" /></a>
                        <a href="https://www.linkedin.com/" class="btn btn-default site-footer-btn"><img class="site-footer-image" src="~/Content/Glyphicon/justvector/linkedin_alt.png" /></a>
                    </div>
        </footer>
    </div>