@model Oakinstream.Models.ProjectImage

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" id="btn" /> |
    </div>
}
<script>
    var btn = document.getElementById("btn").click();
</script>