@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align: center">
    <h1>Oakinstream.com</h1>
    <p class="lead">Welcome to Oakinstream random citizen!</p>
</div>

<div class="row" style="text-align: center">
    <div class="col-md-4">
        <h2>...</h2>
    </div>
    <div class="col-md-4">
        <h2>...</h2>
    </div>
    <div class="col-md-4">
        <h2>...</h2>
    </div>
</div>

@ViewBag.Pin