@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align: center">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This is a template for a basic asp.net application</p>
</div>

<div class="container">
    <div class="row" style="text-align: center">
        <div class="col-md-4">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut porttitor leo a diam sollicitudin tempor id eu nisl. Malesuada fames ac turpis egestas maecenas pharetra convallis.</h3>
        </div>
        <div class="col-md-4">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut porttitor leo a diam sollicitudin tempor id eu nisl. Malesuada fames ac turpis egestas maecenas pharetra convallis.</h3>
        </div>
        <div class="col-md-4">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut porttitor leo a diam sollicitudin tempor id eu nisl. Malesuada fames ac turpis egestas maecenas pharetra convallis.</h3>
        </div>
    </div>
</div>

