body {
    background-color:black;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*css for the Site*/

.site-navbar{
    background-color:rgba(0, 0, 0, 0.80);
    border-bottom:2px solid black;
}

.site-navbar-big-text {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    font-family: sans-serif;
}

.site-navbar-text {
    font-size: 16px;
    font-weight: bold;
    color: blue;
    font-family: sans-serif;
}

.site-container {
    max-width: 4000px;
    width: 100%;
    height: auto;
    padding: 0;
    text-align: center;
    background-color: #ffffff;
}

.site-container-footer {
    max-width: none;
    width: 100%;
    height: auto;
    bottom: 0;
    text-align: center;
    background-color: black;
}

.site-btn-create {
    border-bottom: 10px solid #548f42;
    cursor: pointer;
}

.site-btn-create:hover {
    border-bottom: 10px solid rgba(84, 143, 66, 0.75);
    cursor: pointer;
}

.site-btn-create:active {
    border-bottom: 2px solid #548f42;
    text-shadow:none;
    cursor: pointer;
}


.site-btn-search {
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}

.site-btn-search:hover {
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}

.site-btn-search:active {
    border-bottom: 2px solid #1595b7;
    text-shadow:none;
    cursor: pointer;
}


.site-btn-create-big {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border-bottom: 10px solid #548f42;
    cursor: pointer;
}

.site-btn-edit {
    margin-top: 15px;
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}

.site-btn-edit-big {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}

.site-btn-delete {
    margin-top: 15px;
    border-bottom: 10px solid #a00505;
    cursor: pointer;
}

.site-btn-delete-big {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border-bottom: 10px solid #a00505;
    cursor: pointer;
}

.site-btn-back {
    margin-top: 15px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 7px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.site-btn-back:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.site-btn-back:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.site-btn-link {
    margin-top: 15px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 7px solid black;
    background-color: #FFFFFF;
}

.site-btn-link:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
}

.site-btn-link:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
}

.site-btn-add-more {
    padding:5px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 7px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.site-btn-add-more:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.site-btn-add-more:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.site-btn-file {
    margin-top:15px;
    border-bottom: 10px solid #bfbfbf;
    cursor: pointer;
}

.site-btn-file:hover {
    border-bottom: 10px solid #a7a7a7;
    cursor: pointer;
}

.site-btn-file:active {
    border-bottom: 2px solid #bfbfbf;
    text-shadow:none;
    cursor: pointer;
}


.site-search {
    max-width: none;
    height: auto;
    width: 80%;
    margin: auto;
    font-size: 36px;
    text-align: center;
}

.site-search-bar {
    max-width: none;
    height: auto;
    width: 80%;
    margin: auto;
    font-size: 36px;
    text-align: center;
    border: 1px solid black;
    border-bottom: 10px solid black;
}

.site-search-text {
    padding: 5px;
    max-width: none;
    height: auto;
    margin: auto;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid black;
    border-bottom: 5px solid black;
}

.site-filter {
    margin-top: 10px;
    height: 100%;
    width: auto;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
    border-bottom: 10px solid black;
}

.site-filter-list {
    height: auto;
    width: auto;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
    border-bottom: 10px solid black;
}

.site-btn-filter {
    border-bottom: 10px solid #548f42;
    cursor: pointer;
}

.site-btn-filter:hover {
    border-bottom: 10px solid rgba(84, 143, 66, 0.75);
    cursor: pointer;
}

.site-btn-filter:active {
    border-bottom: 2px solid #548f42;
    text-shadow: none;
    cursor: pointer;
}


/*css for the Footer*/

.footer-style{
    color:white;
    padding: 15px;
}

.footer-btn {
    margin: 0 10px;
    border-radius: 0;
}

/*css for the About view*/

.about-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-image: url(../Content/Images/Default/background-mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
}

.about-holder {
    max-width: 1000px;
    background-color: transparent;
}

.about-title {
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    box-shadow: 0 5px 5px rgba(0,0,0,0);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-age {
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);;
}

.about-image {
    width: auto;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.about-text-header {
    font-weight: bold;
    font-family: sans-serif;
    padding: 2px;
    border-bottom: 7px solid rgba(0, 0, 0, 0.80);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-text {
    font-size: 16px;
    width: 100%;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-files-header {
    font-weight: bold;
    padding: 2px;
    border-bottom: 7px solid rgba(0, 0, 0, 0.80);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-file-holder {
    max-width: none;
    width: 100%;
    font-weight: bold;
    padding: 2px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-file-btn {
    font-size: smaller;
    font-family: sans-serif;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    border-top: 2px solid rgba(0, 0, 0, 0.80);
    border-left: 1px solid rgba(0, 0, 0, 0.80);
    border-right: 1px solid rgba(0, 0, 0, 0.80);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-created {
    padding: 5px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-edit-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.about-edit-header {
    margin-top: 50px;
}

.about-edit-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.about-edit-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.about-edit-text {
    color: white;
    font-weight: bold;
}

/*css for the AboutFiles view*/

.aboutfiles-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.aboutfiles-header {
    margin-top: 50px;
}

.aboutfiles-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.aboutfiles-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.aboutfiles-text {
    color: white;
    font-weight: bold;
}

/*css for the AboutImages view*/

.aboutimages-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.aboutimages-header {
    margin-top: 50px;
}

.aboutimages-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.aboutimages-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.aboutimages-text {
    color: white;
    font-weight: bold;
}

.aboutimages-image {
    width: auto;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

/*css for the Admin view*/

.admin-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.admin-header {
    margin-top: 50px;
}

.admin-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.admin-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.admin-text {
    color: white;
    font-weight: bold;
}

/*css for the Blog view*/

.blog-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #b8b8b8;
    background-image: url("https://www.transparenttextures.com/patterns/shley-tree-1.png");
}

.blog-container-empty {
    max-width: none;
    width: 100%;
    height: 1350px;
    background-color: #b8b8b8;
    background-image: url("https://www.transparenttextures.com/patterns/shley-tree-1.png");
}

.blog-header-holder {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
}

.blog-jumbotron {
    max-width: 1500px;
    margin: auto;
    margin-top: 15px;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #ededed;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
}

.blog-title-text {
    padding: 10px;
    color: black;
    font-weight: bold;
}

.blog-image {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.blog-small-images-holder {
    width: 100%;
    margin: auto;
}

.blog-small-images {
    width: 20%;
    height: auto;
    object-fit: cover;
}

.blog-link-text {
    font-size: 20px;
    font-weight: bold;
}

.blog-CED-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
}

.blog-CED-header {
    margin-top: 50px;
}

.blog-CED-header-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.blog-CED-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.blog-CED-text {
    color: white;
    font-weight: bold;
}

/*css for the BlogCategory view*/

.blogcategory-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.blogcategory-header {
    margin-top: 50px;
}

.blogcategory-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.blogcategory-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.blogcategory-text {
    color: white;
    font-weight: bold;
}

/*css for the BlogImages view*/

.blogimages-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.blogimages-header {
    margin-top: 50px;
}

.blogimages-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.blogimages-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.blogimages-text {
    color: white;
    font-weight: bold;
}

.blogimages-image {
    width: auto;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

/*css for the CheckingAccount view*/

.checkingaccount-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.checkingaccount-header {
    margin-top: 50px;
}

.checkingaccount-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.checkingaccount-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.checkingaccount-text {
    color: white;
    font-weight: bold;
}

/*css for the Contact view*/

.contact-container {
    max-width: none;
    width: 100%;
    height: 1350px;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.contact-list-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}


.contact-header {
    margin-top: 50px;
}

.contact-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    color:white;
    text-decoration: double;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.contact-jumbotron {
    max-width: 1500px;
    height: 100%;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.contact-jumbotron-half {
    width:50%;
    float:left;
}


.contact-text {
    color: white;
    font-weight: bold;
}

/*css for the Home view*/

.home-container {
    max-width: none;
    width: 100%;
    height: 100%;
}

.home-slider {
    height: auto;
    width: 100%;
    background-color: transparent;
    object-fit: fill;
}

.home-slider-footer {
    height: 50px;
    margin: 0;
    width: 100%;
    background-color: black;
}

.home-info {
    height: 100%;
    text-align: center;
}

.home-infobox {
    margin: 25px;
    border: 1px solid black;
}

.home-linkbox {
    padding:5px;
    margin: 50px;
    border: 1px solid black;
}

.home-canvas {
    border: 1px solid black;
}

.home-edit-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.home-edit-header {
    margin-top: 50px;
}

.home-edit-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.home-edit-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.home-edit-text {
    color: white;
    font-weight: bold;
}


/*css for the HomeImages view*/

.homeimages-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.homeimages-header {
    margin-top: 50px;
}

.homeimages-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.homeimages-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.homeimages-jumbotron-half {
    width: 25%;
    float: left;
}

.homeimages-text {
    color: white;
    font-weight: bold;
}

.homeimages-image {
    width: 100%;
    height:auto;
    object-fit:cover;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

/*css for the ProjectCategory view*/

.projectcategory-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.projectcategory-header {
    margin-top: 50px;
}

.projectcategory-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.projectcategory-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.projectcategory-text {
    color: white;
    font-weight: bold;
}

/*css for the ProjectFiles view*/

.projectfiles-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.projectfiles-header {
    margin-top: 50px;
}

.projectfiles-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.projectfiles-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.projectfiles-text {
    color: white;
    font-weight: bold;
}

/*css for the ProjectImages view*/

.projectimages-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.projectimages-header {
    margin-top: 50px;
}

.projectimages-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.projectimages-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.projectimages-text {
    color: white;
    font-weight: bold;
}

.projectimages-image {
    width: auto;
    height: auto;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}


/*css for the Projects view*/

.project-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #c78d50;
    background-image: url(../Content/Images/Default/wood-pattern.png);
}

.project-container-empty {
    max-width: none;
    width: 100%;
    height: 1350px;
    background-color: #c78d50;
    background-image: url(../Content/Images/Default/wood-pattern.png);
}

.project-header {
    padding: 50px;
    max-width: 1000px;
    margin: auto;
    background-color: transparent;
}

.project-holder {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
    transition: all .2s ease-in-out;
    color: #a00505;
    border: 2px solid black;
    border-bottom: 10px solid black;    
}

.project-holder:hover {
    transform: scale(1.08);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.60);
}

.project-name {
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    color: white;
    text-decoration:underline;
}

.project-image {
    border:1px solid black;
}

.project-category-text {
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.project-details-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
}

.project-edit-btn {
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}

.project-delete-btn {
    border-bottom: 10px solid #a00505;
    cursor: pointer;
}

.project-details-header-holder {
    margin-top:75px;
}

.project-details-header-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.project-details-header-category {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.project-details-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.project-details-image {
    border: 3px solid black;
    border-bottom: 7px solid black;
}

.project-details-description-holder {
    margin-top: 50px;
}

.project-details-description {
    width: 80%;
    margin: auto;
    border: 3px solid black;
    border-bottom: 7px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/iron-grip.png");
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}

.project-details-description-text {
    width: 75%;
    margin: auto;
    font-weight:bold;
    color: white;
    font-size:18px;
}

.project-details-files-holder {
    margin-top: 50px;
}

.project-details-files {
    margin: auto;
    border: 3px solid black;
    border-bottom: 7px solid black;
    color:white;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}

.project-details-files-btn {
    margin: auto;
    color: white;
    border: 2px solid white;
    border-bottom: 5px solid white;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}

.project-CED-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
}

.project-CED-header{
    margin-top:50px;
}

.project-CED-header-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.project-CED-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.project-CED-text {
    color:white;
    font-weight:bold;
}



.site-forms-contact {
    width: 80%;
    max-width: none;
    resize: none;
    text-align: center;
    font-size: 1.5em;
}

.contactMessage {
    width: 80%;
    max-width: none;
    resize: none;
    text-align: center;
    font-size: 1.5em;
}

.ContactBtn {
    max-width: none;
    height: auto;
    width: 80%;
    margin: auto;
    font-size: 36px;
    text-align: center;
}

.Width-auto {
    width: auto;
}

.Width-50 {
    width: 50%;
}

.Width-60 {
    width: 80%;
}

.Width-70 {
    width: 90%;
}

.Width-80 {
    width: 80%;
}

.Width-90 {
    width: 90%;
}

.Width-100 {
    width: 100%;
}

.site-border-small {
    border: 1px solid black;
}
.site-border-normal {
    border: 2px solid black;
}
.site-border-thicc {
    border: 3px solid black;
}

.site-border-small-top {
    border-top: 1px solid black;
}
.site-border-normal-top {
    border-top: 2px solid black;
}
.site-border-thicc-top {
    border-top: 3px solid black;
}

.site-border-small-right {
    border-right: 1px solid black;
}
.site-border-normal-right {
    border-right: 2px solid black;
}
.site-border-thicc-right {
    border-right: 3px solid black;
}

.site-border-small-bottom {
    border-bottom: 1px solid black;
}
.site-border-normal-bottom {
    border-bottom: 2px solid black;
}
.site-border-thicc-bottom {
    border-bottom: 3px solid black;
}

.site-border-small-left {
    border-left: 1px solid black;
}
.site-border-normal-left {
    border-left: 2px solid black;
}
.site-border-thicc-left {
    border-left: 3px solid black;
}

.site-margin-auto{
    margin:auto;
}
.site-margin-top-10{
    margin-top:10px;
}
.site-margin-top-20 {
    margin-top: 20px;
}
.site-margin-bottom-10 {
    margin-bottom: 10px;
}

.float-left {
    float:left;
}
.float-right {
    float: left;
}

.site-form{
    height: 50px;
    max-width: none;
    width:50%;
    font-size:24px;
}

.site-form-category {
    height: 50px;
    max-width: none;
    width: 100%;
    font-size: 24px;
}

.site-form-file {
    border: 2px solid black;
    padding: 20px;
    max-width: none;
    width: auto;
    text-align:center;
    font-size: 24px;
}

.site-form-text {
    font-size: 36px;
}

.site-form-btn {
    height: 50px;
    width: 100%;
}

.site-form-height {
    border: 2px solid black;
    height: 75px;
    width: 50%;
    font-size: 24px;
    border-radius:unset;
}

.site-form-message {
    height: 50px;
    width: 80%;
}

