body {
    background-color:black;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*css for the Site*/

.site-navbar{
    background-color:rgba(0, 0, 0, 0.80);
    border-bottom:2px solid black;
}

.site-navbar-big-text {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    font-family: sans-serif;
}

.site-navbar-text {
    font-size: 16px;
    font-weight: bold;
    color: blue;
    font-family: sans-serif;
}

.site-container {
    max-width: 4000px;
    width: 100%;
    height: auto;
    padding: 0;
    text-align: center;
    background-color: #ffffff;
}

.site-container-footer {
    max-width: none;
    width: 100%;
    height: auto;
    bottom: 0;
    text-align: center;
    background-color: black;
}

.site-create-btn {
    border-bottom: 10px solid #548f42;
    cursor: pointer;
}

.site-create-btn:hover {
    border-bottom: 10px solid rgba(84, 143, 66, 0.75);
    cursor: pointer;
}

.site-create-btn:active {
    border-bottom: 2px solid #548f42;
    text-shadow:none;
    cursor: pointer;
}

.site-search-btn {
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}

.site-search-btn:hover {
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}

.site-search-btn:active {
    border-bottom: 2px solid #1595b7;
    text-shadow:none;
    cursor: pointer;
}


.site-create-btn-big {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border-bottom: 10px solid #548f42;
    cursor: pointer;
}

.site-edit-btn {
    margin-top: 15px;
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}

.site-edit-btn-big {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}

.site-delete-btn {
    margin-top: 15px;
    border-bottom: 10px solid #a00505;
    cursor: pointer;
}

.site-delete-btn-big {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border-bottom: 10px solid #a00505;
    cursor: pointer;
}

.site-back-btn {
    margin-top: 15px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 7px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.site-back-btn:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.site-back-btn:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.site-add-more-btn {
    padding:5px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 7px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.site-add-more-btn:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.site-add-more-btn:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.site-search {
    max-width: none;
    height: auto;
    width: 80%;
    margin: auto;
    font-size: 36px;
    text-align: center;
}

.site-search-bar {
    max-width: none;
    height: auto;
    width: 80%;
    margin: auto;
    font-size: 36px;
    text-align: center;
    border: 1px solid black;
    border-bottom: 10px solid black;
}

.site-search-text {
    padding: 5px;
    max-width: none;
    height: auto;
    margin: auto;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid black;
    border-bottom: 5px solid black;
}

.site-filter {
    margin-top: 10px;
    height: 100%;
    width: auto;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
    border-bottom: 10px solid black;
}

.site-filter-list {
    height: auto;
    width: auto;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
    border-bottom: 10px solid black;
}

.site-filter-btn {
    border-bottom: 10px solid #548f42;
    cursor: pointer;
}

.site-filter-btn:hover {
        border-bottom: 10px solid rgba(84, 143, 66, 0.75);
        cursor: pointer;
}

.site-filter-btn:active {
        border-bottom: 2px solid #548f42;
        text-shadow: none;
        cursor: pointer;
}


/*css for the Footer*/

.footer-style{
    color:white;
    padding: 15px;
}

.footer-btn {
    margin: 0 10px;
    border-radius: 0;
}

/*css for the Home view*/

.home-container {
    max-width: none;
    width: 100%;
    height: 100%;
}

.home-slider {
    height:auto;
    width: 100%;
    background-color: transparent;
    object-fit:fill;
}

.home-slider-footer {
    height: 50px;
    margin: 0;
    width: 100%;
    background-color: black;
}

.home-info {
    height: 100%;
    text-align:center;
}

.home-infobox {
    margin: 25px;
    border: 1px solid black;
}

.home-canvas {
    border:1px solid black;
}

.home-edit-container {
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

/*css for the About view*/

.about-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-image: url(../Content/Images/Default/background-mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
}

.about-holder {
    max-width: 1000px;
    background-color: transparent;
}

.about-title {
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    box-shadow: 0 5px 5px rgba(0,0,0,0);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-age {
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);;
}

.about-image {
    width: auto;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.about-text-header {
    font-weight: bold;
    font-family: sans-serif;
    padding: 2px;
    border-bottom: 7px solid rgba(0, 0, 0, 0.80);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-text {
    font-size: 16px;
    width: 100%;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-files-header {
    font-weight: bold;
    padding: 2px;
    border-bottom: 7px solid rgba(0, 0, 0, 0.80);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-file-holder {
    max-width: none;
    width: 100%;
    font-weight: bold;
    padding: 2px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-file-btn {
    font-size: smaller;
    font-family: sans-serif;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    border-top: 2px solid rgba(0, 0, 0, 0.80);
    border-left: 1px solid rgba(0, 0, 0, 0.80);
    border-right: 1px solid rgba(0, 0, 0, 0.80);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-created {
    padding: 5px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    border-bottom: 10px solid rgba(0, 0, 0, 0.80);
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
}

.about-edit-container {
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/crissxcross.png);
}

.about-edit-jumbotron {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/*css for the Projects view*/

.project-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #c78d50;
    background-image: url(../Content/Images/Default/wood-pattern.png);
}

.project-header-holder {
    padding:50px;
    max-width: 1000px;
    margin: auto;
    background-color: transparent;
}

.project-holder {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    background-color: #ffffff;
    background-image: url(../Content/Images/Default/smooth-wall-dark.png);
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
    transition: all .2s ease-in-out;
    color: #a00505;
    border: 2px solid black;
    border-bottom: 10px solid black;    
}

.project-holder:hover {
    transform: scale(1.08);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.60);
}

.project-name {
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    color: white;
    text-decoration:underline;
}

.project-image {
    border:1px solid black;
}

.project-category-text {
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.project-details-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
}

.project-edit-btn {
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}

.project-delete-btn {
    border-bottom: 10px solid #a00505;
    cursor: pointer;
}

.project-details-header-holder {
    margin-top:75px;
}

.project-details-header-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.project-details-header-category {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.project-details-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.project-details-image {
    border: 3px solid black;
    border-bottom: 7px solid black;
}

.project-details-description-holder {
    margin-top: 50px;
}

.project-details-description {
    width: 80%;
    margin: auto;
    border: 3px solid black;
    border-bottom: 7px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/iron-grip.png");
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}

.project-details-description-text {
    width: 75%;
    margin: auto;
    font-weight:bold;
    color: white;
    font-size:18px;
}

.project-details-files-holder {
    margin-top: 50px;
}

.project-details-files {
    margin: auto;
    border: 3px solid black;
    border-bottom: 7px solid black;
    color:white;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}

.project-details-files-btn {
    margin: auto;
    color: white;
    border: 2px solid white;
    border-bottom: 5px solid white;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}

.project-create-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
}

.project-create-header{
    margin-top:50px;
}

.project-create-header-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.project-create-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.project-create-text {
    color:white;
    font-weight:bold;
}

/*css for the Blog view*/

.blog-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #b8b8b8;
    background-image: url("https://www.transparenttextures.com/patterns/shley-tree-1.png");
}

.blog-container-empty {
    max-width: none;
    width: 100%;
    height: 100vh;
    background-color: #b8b8b8;
    background-image: url("https://www.transparenttextures.com/patterns/shley-tree-1.png");
}

.blog-header-holder {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
}

.blog-jumbotron {
    max-width: 1500px;
    margin: auto;
    margin-top: 15px;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #ededed;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
}

.blog-title-text {
    padding:10px;
    color: black;
    font-weight:bold;
}

.blog-image {
    width: 50%;
    height: auto;
    object-fit: cover;
}


.blog-small-images-holder {
    width: 100%;
    margin: auto;
}

.blog-small-images {
    width: 20%;
    height: auto;
    object-fit: cover;
}

.blog-link-text {
    font-size: 20px;
    font-weight: bold;
}

.contact-forms {
    width: 80%;
    max-width: none;
    resize: none;
    text-align: center;
    font-size: 1.5em;
}

.contactMessage {
    width: 80%;
    max-width: none;
    resize: none;
    text-align: center;
    font-size: 1.5em;
}

.ContactBtn {
    max-width: none;
    height: auto;
    width: 80%;
    margin: auto;
    font-size: 36px;
    text-align: center;
}

.Width-auto {
    width: auto;
}

.Width-50 {
    width: 50%;
}

.Width-60 {
    width: 80%;
}

.Width-70 {
    width: 90%;
}

.Width-80 {
    width: 80%;
}

.Width-90 {
    width: 90%;
}

.Width-100 {
    width: 100%;
}

.SmalBorder {
    border: 1px solid black;
}
.NormalBorder {
    border: 2px solid black;
}
.NormalBorder-Top {
    border-top: 2px solid black;
}
.NormalBorder-Right {
    border-Right: 2px solid black;
}
.NormalBorder-Bottom {
    border-bottom: 2px solid black;
}
.NormalBorder-Left {
    border-left: 2px solid black;
}

.Margin-Auto{
    margin:auto;
}
.Margin-Top-10{
    margin-top:10px;
}
.Margin-Top-20 {
    margin-top: 20px;
}
.Margin-Bottom-10 {
    margin-bottom: 10px;
}

.float-left {
    float:left;
}
.float-right {
    float: left;
}

.FormBox{
    height: 50px;
    max-width: none;
    width:50%;
    font-size:24px;
}

.FormBox-Category {
    height: 50px;
    max-width: none;
    width: 100%;
    font-size: 24px;
}

.FormBox-File {
    border: 2px solid black;
    padding: 20px;
    max-width: none;
    width: auto;
    text-align:center;
    font-size: 24px;
}

.FormText {
    font-size: 36px;
}

.FormBtn {
    height: 50px;
    width: 100%;
}

.FormBtn-height {
    border: 2px solid black;
    height: 75px;
    width: 50%;
    font-size: 24px;
    border-radius:unset;
}

.Form-Message {
    height: 50px;
    width: 80%;
}

