body {
    background-color:black;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*css for the Site*/

.site-navbar{
    background-color:rgba(0, 0, 0, 0.80);
    border-bottom:2px solid black;
}

.site-navbar-big-text {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    font-family: sans-serif;
}

.site-navbar-text {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.site-container {
    max-width: 4000px;
    width: auto;
    height: auto;
    text-align: center;
    background-color: #ffffff;
}

.site-container-footer {
    max-width: none;
    width: 100%;
    padding: 0px;
    height: auto;
    text-align: center;
    background-color: black;
}

.site-search {
    max-width: none;
    height: auto;
    width: 80%;
    margin: auto;
    font-size: 36px;
    text-align: center;
}

.site-search-bar {
    max-width: none;
    height: auto;
    width: 80%;
    margin: auto;
    font-size: 36px;
    text-align: center;
    border: 1px solid black;
    border-bottom: 10px solid black;
}

.site-search-text {
    padding: 5px;
    max-width: none;
    height: auto;
    margin: auto;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid black;
    border-bottom: 5px solid black;
}

.site-filter {
    margin-top: 10px;
    height: 100%;
    width: auto;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
    border-bottom: 10px solid black;
}

.site-filter-list {
    height: auto;
    width: auto;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
    border-bottom: 10px solid black;
}

/*Site Styles-----------------------------------------------------------------*/

.site-border-small {
    border: 1px solid black;
}
.site-border-normal {
    border: 2px solid black;
}
.site-border-thicc {
    border: 3px solid black;
}

.site-border-small-top {
    border-top: 1px solid black;
}
.site-border-normal-top {
    border-top: 2px solid black;
}
.site-border-thicc-top {
    border-top: 3px solid black;
}

.site-border-small-right {
    border-right: 1px solid black;
}
.site-border-normal-right {
    border-right: 2px solid black;
}
.site-border-thicc-right {
    border-right: 3px solid black;
}

.site-border-small-bottom {
    border-bottom: 1px solid black;
}
.site-border-normal-bottom {
    border-bottom: 2px solid black;
}
.site-border-thicc-bottom {
    border-bottom: 3px solid black;
}

.site-border-small-left {
    border-left: 1px solid black;
}
.site-border-normal-left {
    border-left: 2px solid black;
}
.site-border-thicc-left {
    border-left: 3px solid black;
}

.site-margin-auto{
    margin:auto;
}
.site-margin-top-10{
    margin-top:10px;
}
.site-margin-top-20 {
    margin-top: 20px;
}
.site-margin-bottom-10 {
    margin-bottom: 10px;
}

.float-left {
    float:left;
}
.float-right {
    float: left;
}

/*Site Form-----------------------------------------------------------------*/

.site-form{
    height: 50px;
    max-width: none;
    width:50%;
    font-size:24px;
}

.site-form-category {
    height: 50px;
    max-width: none;
    width: 100%;
    font-size: 24px;
}

.site-form-file {
    border: 2px solid black;
    padding: 20px;
    max-width: none;
    width: 100%;
    text-align:center;
    font-size: 24px;
}

.site-forms-contact {
    width: 80%;
    max-width: none;
    resize: none;
    text-align: center;
    font-size: 1.5em;
}

.site-form-text {
    font-size: 36px;
}

.site-form-btn {
    height: 50px;
    width: 100%;
}

.site-form-height {
    border: 2px solid black;
    height: 75px;
    width: 50%;
    font-size: 24px;
    border-radius:unset;
}

.site-form-message {
    height: 50px;
    width: 80%;
}


/*Site BTN-----------------------------------------------------------------*/

.site-btn-search {
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}
.site-btn-search:hover {
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}
.site-btn-search:active {
    border-bottom: 2px solid #1595b7;
    text-shadow:none;
    cursor: pointer;
}


.site-btn-filter {
    border-bottom: 10px solid #548f42;
    cursor: pointer;
}
.site-btn-filter:hover {
    border-bottom: 10px solid rgba(84, 143, 66, 0.75);
    cursor: pointer;
}
.site-btn-filter:active {
    border-bottom: 2px solid #548f42;
    text-shadow: none;
    cursor: pointer;
}


.site-btn-create {
    border-bottom: 10px solid #548f42;
    cursor: pointer;
}
.site-btn-create:hover {
    border-bottom: 10px solid rgba(84, 143, 66, 0.75);
    cursor: pointer;
}
.site-btn-create:active {
    border-bottom: 2px solid #548f42;
    text-shadow:none;
    cursor: pointer;
}
.site-btn-create-big {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border-bottom: 10px solid #548f42;
    cursor: pointer;
}


.site-btn-edit {
    margin-top: 15px;
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}
.site-btn-edit:hover {
    border-bottom: 10px solid rgba(21, 149, 183, 0.75);
    cursor: pointer;
}
.site-btn-edit:active {
    border-bottom: 2px solid #1595b7;
    text-shadow: none;
    cursor: pointer;
}

.site-btn-edit-big {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border-bottom: 10px solid #1595b7;
    cursor: pointer;
}
.site-btn-edit-big:hover {
    border-bottom: 10px solid rgba(21, 149, 183, 0.75);
    cursor: pointer;
}
.site-btn-edit-big:active {
    border-bottom: 2px solid #1595b7;
    text-shadow: none;
    cursor: pointer;
}

.site-btn-delete {
    margin-top: 15px;
    border-bottom: 10px solid #a00505;
    cursor: pointer;
}
.site-btn-delete-big {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border-bottom: 10px solid #a00505;
    cursor: pointer;
}


.site-btn-back {
    margin-top: 15px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 7px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}
.site-btn-back:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}
.site-btn-back:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}


.site-btn-link {
    margin-top: 15px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 7px solid black;
    background-color: #FFFFFF;
}
.site-btn-link:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
}
.site-btn-link:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
}


.site-btn-add-more {
    padding: 5px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 7px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}
.site-btn-add-more:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}
.site-btn-add-more:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 0.50);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}


.site-btn-file {
    margin-top: 15px;
    border-bottom: 10px solid #bfbfbf;
    cursor: pointer;
}
.site-btn-file:hover {
    border-bottom: 10px solid #a7a7a7;
    cursor: pointer;
}
.site-btn-file:active {
    border-bottom: 2px solid #bfbfbf;
    text-shadow:none;
    cursor: pointer;
}


/*css for the Footer*/

.site-footer-style {
    color: white;
    padding: 15px;
}

.site-footer-btn {
    margin: 0 10px;
    border-radius: 0;
}