/*css for the Admin view*/

.admin-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #484d61;
    background-image: url(Images/Admin/cubes.png);
}

.admin-header {
    margin-top: 50px;
}

.admin-title {
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #484d61;
    background-image: url(Images/Admin/dark-mosaic.png);
}

.admin-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #484d61;
    background-image: url(Images/Admin/dark-mosaic.png);
}

.admin-btn-home {

}
.admin-btn-about {
    background-color: #ffffff;
    background-image: url(Images/About/mocha-grunge.png);
}
.admin-btn-project {

}
.admin-btn-blog {
    background-color: #ededed;
    background-image: url(Images/Blog/low-contrast-linen.png);
}
.admin-btn-contact {
    background-color: #ededed;
    background-image: url(Images/Contact/diagonal-striped-brick.png);
}
.admin-btn-account {
    background-color: #ededed;
    background-image: url(Images/CheckingAccount/dark-brick-wall.png);
}

.admin-text {
    color: white;
    font-weight: bold;
}
