/*css for the Admin view*/

.admin-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(../../Content/Images/Default/crissxcross.png);
}

.admin-header {
    margin-top: 50px;
}

.admin-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: white;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.admin-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.admin-text {
    color: white;
    font-weight: bold;
}
