/*css for the Blog view*/

.blog-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #b8b8b8;
    background-image: url(Images/Blog/shley-tree-1.png);
}

.blog-container-empty {
    max-width: none;
    width: 100%;
    height: 1350px;
    background-color: #b8b8b8;
    background-image: url(Images/Blog/shley-tree-1.png);
}

.blog-header-holder {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
}

.blog-jumbotron {
    max-width: 1500px;
    margin: auto;
    margin-top: 15px;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #ededed;
    background-image: url(Images/Blog/low-contrast-linen.png);
    margin-bottom: 150px;
}

.blog-title-text {
    padding: 10px;
    color: black;
    font-weight: bold;
}

.blog-image {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.blog-small-images-holder {
    width: 100%;
    margin: auto;
}

.blog-small-images {
    width: 20%;
    height: auto;
    object-fit: cover;
}

.blog-link-text {
    font-size: 20px;
    font-weight: bold;
}

.blog-CED-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #b8b8b8;
    background-image: url(Images/Blog/shley-tree-1.png);
}

.blog-CED-header {
    margin-top: 50px;
}

.blog-CED-title {
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
    color: black;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #ededed;
    background-image: url(Images/Blog/low-contrast-linen.png);
}

.blog-CED-btn-back {
    margin-top: 15px;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 7px solid black;
    color: black;
    background-color: #ededed;
    background-image: url(Images/Blog/low-contrast-linen.png);
}

.blog-CED-btn-back:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    background-color: #ededed;
    color: rgba(0, 0, 0, 0.50);
    background-image: url(Images/Blog/low-contrast-linen.png);
}

.blog-CED-btn-back:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    background-color: #ededed;
    color: rgba(0, 0, 0, 0.50);
    background-image: url(Images/Blog/low-contrast-linen.png);
}

.blog-CED-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #ededed;
    background-image: url(Images/Blog/low-contrast-linen.png);
}
.blog-CED-jumbotron-text {
    width: 35%;
    float: left;
}
.blog-CED-jumbotron-input {
    margin-left: 3%;
    width: 62%;
    float: left;
}
.blog-CED-jumbotron-delete {
    width: 25%;
    float: left;
}

.blog-CED-btn-add-more {
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
    color: black;
    border: 1px solid black;
    border-bottom: 7px solid black;
    background-color: #ededed;
    background-image: url(Images/Blog/low-contrast-linen.png);
}
.blog-CED-btn-add-more:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(0, 0, 0, 0.50);
    background-image: url(Images/Blog/low-contrast-linen.png);
}

.blog-CED-btn-add-more:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(0, 0, 0, 0.50);
    background-image: url(Images/Blog/low-contrast-linen.png);
}

.blog-CED-text {
    color: black;
    font-weight: bold;
}