/*css for the CheckingAccount view*/

.checkingaccount-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    background-image: url(Images/CheckingAccount/cartographer.png);
}

.checkingaccount-header {
    margin-top: 50px;
}

.checkingaccount-title {
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
    color: black;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #ededed;
    background-image: url(Images/CheckingAccount/dark-brick-wall.png);
}

.checkingaccount-btn-back {
    margin-top: 15px;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 7px solid black;
    color: black;
    background-color: #ededed;
    background-image: url(Images/CheckingAccount/dark-brick-wall.png);
}
.checkingaccount-btn-back:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    background-color: #fffafa;
    color: rgba(0, 0, 0, 0.50);
    background-image: url(Images/CheckingAccount/dark-brick-wall.png);
}
.checkingaccount-btn-back:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    background-color: #fffafa;
    color: rgba(0, 0, 0, 0.50);
    background-image: url(Images/CheckingAccount/dark-brick-wall.png);
}

.checkingaccount-jumbotron {
    max-width: 1500px;
    margin: auto;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #fffafa;
    background-image: url(Images/CheckingAccount/dark-brick-wall.png);
    margin-bottom: 150px;
}
.checkingaccount-jumbotron-text {
    width: 35%;
    float: left;
}
.checkingaccount-jumbotron-input {
    margin-left: 3%;
    width: 62%;
    float: left;
}
.checkingaccount-jumbotron-list {
    width: 16%;
    float: left;
}

.checkingaccount-create-text {
    color: black;
    font-weight: bold;
}

.checkingaccount-text {
    color: white;
    font-weight: bold;
}