/*css for the Home view*/

.home-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(Images/Home/fabric-1-dark.png);
}

.home-slider {
    height: auto;
    width: 100%;
    background-color: transparent;
    object-fit: fill;
}

.home-slider-footer {
    height: 50px;
    margin: 0;
    width: 100%;
    background-color: black;
}

.home-info {
    height: 100%;
    text-align: center;
}

.home-infobox {
    margin: 25px;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: white;
    background-color: #ffffff;
    background-image: url(Images/Home/white-leather.png);
}

.home-linkbox {
    padding: 5px;
    margin: 50px;
    border: 1px solid black;
}

.home-btn-read-more {
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 7px solid black;
    color: black;
    background-color: #ffffff;
    background-image: url(Images/Home/white-leather.png);
}
.home-btn-read-more:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    color: rgba(0, 0, 0, 0.50);
    background-color: #ffffff;
    background-image: url(Images/Home/white-leather.png);
}
.home-btn-read-more:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    color: rgba(0, 0, 0, 0.50);
    background-color: #ffffff;
    background-image: url(Images/Home/white-leather.png);
}

.home-jumbotron {
    margin: 50px auto;
    background-color: transparent;
}

.home-canvas {
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: white
}

.home-text {
    padding:5px;
    color: black;
    font-weight: bold;
}

.home-edit-container {
    max-width: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(Images/Home/fabric-1-dark.png);
}

.home-edit-header {
    margin-top: 50px;
}

.home-edit-title {
    padding: 10px;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: double;
    color: black;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: #ffffff;
    background-image: url(Images/Home/white-leather.png);
}

.home-btn-back {
    margin-top: 15px;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 7px solid black;
    color: black;
    background-color: #ffffff;
    background-image: url(Images/Home/white-leather.png);
}
.home-btn-back:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    color: rgba(0, 0, 0, 0.50);
    background-color: #ffffff;
    background-image: url(Images/Home/white-leather.png);
}
.home-btn-back:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    color: rgba(0, 0, 0, 0.50);
    background-color: #ffffff;
    background-image: url(Images/Home/white-leather.png);
}

.home-edit-jumbotron {
    max-width: 1500px;
    margin: auto;
    background: transparent;
    border: 2px solid black;
    border-bottom: 10px solid black;
    margin-bottom: 150px;
    background-color: #ffffff;
    background-image: url(Images/Home/white-leather.png);
}
.home-edit-jumbotron-text {
    width: 35%;
    float: left;
}
.home-edit-jumbotron-input {
    margin-left: 3%;
    width: 62%;
    float: left;
}

.home-btn-add-more {
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
    color: black;
    border: 1px solid black;
    border-bottom: 7px solid black;
    background-color: #ededed;
    background-image: url(Images/Home/white-leather.png);
}
.home-btn-add-more:hover {
    border: 1px solid black;
    border-bottom: 7px solid rgba(0, 0, 0, 0.50);
    color: rgba(0, 0, 0, 0.50);
    background-color: #ffffff;
    background-image: url(Images/Home/white-leather.png);
}
.home-btn-add-more:active {
    border: 1px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
    color: rgba(0, 0, 0, 0.50);
    background-color: #ffffff;
    background-image: url(Images/Home/white-leather.png);
}

.home-edit-text {
    color: black;
    font-weight: bold;
}