@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Adress: ...<br/>
    <abbr title="Phone">P:</abbr>
    ....
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:Mail@example.com">Mail@example.com</a>
</address>